name: m2g Build
on:
  push:
    branches:
      - "deploy"
      - "main"
  # pull_request:
  workflow_call:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: 3.8
      - name: "Run Reference Documentation Generation"
        run: |
          sudo apt install pandoc
          pip install -U pip setuptools wheel
          pip install -r docs/requirements.txt
          sphinx-build -a docs/ docs/_build/html
      - name: "GitHub Pages action"
        uses: peaceiris/actions-gh-pages@v3.9.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
